{% extends 'base.html' %} {% block title%} Portfolio Website {% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename ='css/index.css')}}"
/>
{% endblock %} {% block body %}
<div class="header-section">
  <div class="header-section-left">
    <div class="header-section-left-contents">
      <div class="header-section-left-picture">
        <div class="div background-cicle"></div>
        <img
          src="{{url_for('static', filename ='images/dev-derah-picture.png')}}"
          alt="Dev-derah-picture"
          class="dev-derah-picture"
        />
        
      </div>
      <div class="header-section-texts">
        <h3 class="header-texts">I am <span class="changing-text"></span></h3>
        <button class="contact-me">Contact me</button>
      </div>
    </div>
  </div>
  <div class="header-section-right">
    <img src="{{url_for('static', filename ='images/Oreti.svg')}}" />
  </div>
</div>
<div class="gradient"></div>
<!-- ABOUT ME -->
<div class="about-me-section bubble-background">
  <div class="about-me-container" data-aos="fade-up" data-aos-duration="4000">
      <h3 class ="about-me-header-text">About Me</h3>
      <div class="p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, harum sunt? Magnam, totam laudantium molestiae exercitationem dolorem quia quod a saepe tempora amet repellat necessitatibus eveniet ex quos corrupti doloremque.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse unde illum blanditiis architecto. In vel dolor enim officia officiis et modi est, eligendi delectus facere voluptatum cupiditate. Animi, reprehenderit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate laboriosam, libero voluptates sequi omnis dolor placeat rerum, quia doloribus earum quaerat magni. Dignissimos tempora repellat dolore nemo corrupti sit.
      </div>
  </div>
</div>

<div class="gradient2">
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300"><path fill="#75CBB3" fill-opacity="1" d="M0,160L720,224L1440,128L1440,320L720,320L0,320Z"></path></svg>
</div>

<!-- SKILLS SECTION2 -->
<!-- <div class="skills-section">
  <div class="skills-section-header">MY Skills</div>
  <div class="skills-container">
    <div class="skills-card">
      <div class="card" data-aos="fade-right">
        <i class="fa-brands fa-html5"></i>
      </div>
    </div>

    <div class="skills-card">
      <div class=" card right" data-aos="fade-left">
        <i class="fa-brands fa-css3-alt"></i>
        </div>
      </div>
    </div>

      <div class="skills-card">
      <div class=" card right" data-aos="fade-left">
        <i class="fa-brands fa-css3-alt"></i>
        </div>
      </div>
    </div>

    <div class="skills-card">
      <div data-aos="fade-right" class="card">
        <i class="fa-brands fa-js-square"></i>
      </div>
    </div>
    <div class="skills-card">
      <div class="card " data-aos="fade-left">
        <i class="fa-brands fa-python"></i>
      </div>

    </div>
      <div class="skills-card">
      <div class="card " data-aos="fade-left">
        <i class="fa-solid fa-database"></i>
      </div>

    </div>

  </div>
</div> -->

<!-- skills-section -->
<div class="skills-section">
  <div class="skills-text">
    <h3>Skills</h3>
  </div>
  <div class="skills-container">
    <div class="skill ">
      <i class="fa-brands fa-html5"></i>
      <h4>HTML</h4>
    </div>
     <div class="skill ">
      <i class="fa-brands fa-css3-alt"></i>
      <h4>CSS</h4>
    </div>
    <div class="skill ">
      <i class="fa-brands fa-js-square"></i>
      <h4>Javascript</h4>
    </div>
    <div class="skill ">
      <i class="fa-brands fa-python"></i>
      <h4>Python</h4>
    </div>
    <div class="skill ">
      <i class="fa-solid fa-database"></i>
      <h4>SQL</h4>
    </div>
  </div>
</div>

<div class="arc-svg">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#DC2249" fill-opacity="1" d="M0,192L720,96L1440,224L1440,320L720,320L0,320Z"></path></svg>

  <div class="portfolio-text">
  <h3>Portfolio</h3>
  </div>
</div>
<!-- Portfolio section -->
<div class="porfolio-section">
  <div class="portfolios-container">
    <div class="project-container card">
      <div class="project-picture">
        <img src="{{url_for('static', filename ='images/website.png')}}" alt="" >
      </div>
      <div class="portfolio-description">
        <p>Project name : <span>Banky</span></p>
        <a href="">
          <p>View this project</p>
        </a>
      </div>
    </div>

    <div class="project-container card">
      <div class="project-picture">
        <img src="{{url_for('static', filename ='images/website.png')}}" alt="" >
      </div>
      <div class="project-description">
        <p>Project name : <span>Banky</span></p>
        <a href="">
          <p>View this project</p>
        </a>
      </div>
    </div>


    <div class="project-container card">
      <div class="project-picture">
        <img src="{{url_for('static', filename ='images/website.png')}}" alt="" >
      </div>
      <div class="project-description">
        <p>Project name : <span>Banky</span></p>
        <a href="">
          <p>View this project</p>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
